#connect {
    min-height: 3vw;
    background-color: #9a9a9a;
}

#contain {
    min-height: 25vw;
    margin-top: 4vw;
}

.connect-container {
    padding-bottom: 5vw;
    background-color: #9a9a9a;
    display: grid;
    grid-template-columns: 60% 40%;
}

#form-headline {
    margin-top: -5%;
    padding-top: 0;
    position: top;
    font-size: 5vw;
}

.connection {
    margin-top: 5vw;
    margin-right: 3vw;
    color: white;
}

form {
    max-width: 100%;
    display: grid;
    align-content: center;
    margin-top: 4vw;
    padding: 5vw;
    background: white;
    color: #808080;
    border-radius: 5px;
}

textarea {
    width: 100%;
    border-radius: 5px;
}

input, textarea {
    width: 95%;
    min-height:25px;
    border: none;
    font-family: 'Questrial';
    font-size: 1em;
    color: #808080;
    border-bottom: 2px solid #808080;
    background: rgba(360,360,360,0.1);
    background: transparent;
    margin-bottom: 2%;
    padding: 2%;
}

.input-txt {
    border: 2px solid #808080;
}

textarea:focus, input:focus{
    outline: none;
    border: 2px solid #42e8f4;
    border-radius: 5px;
}

.connect-form > button {
    min-width: 104%;
    height: auto;
    background-color: #808080;
    border: 1px solid #707070;
    border-radius: 5px;
    color: white;
    font-size: 1.25em;
    padding: 5px;
}

@media only screen and (max-width: 600px) {

    div.connect-container {
        grid-template-columns: 100%;
    }

    div > .connection {
        display: none;
    }

    form {
        max-width: 100%;
    }

}