/*Header Styling*/

header {
    display: flex;
    min-height: 50vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 6vw;
    font-weight: normal;
    color: #42e8f4;
}

#home {
    display: grid;
    grid-template-columns: 35% 30% 30%;
    grid-template-rows: 20% 30% 40%;
}

#home > h1 > span {
    border: 5px solid #42e8f4;
    font-size: 10vw;
    background: white;
}

h1 {
    grid-column-start: 3;
    grid-row-start: 3;
    margin: 0;
    padding: 0;
}

#text-wrap {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% 30% 40%;
}

#arrow {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
}

#point-down {
    grid-column-start: 3;
    grid-row-start: 3;
    opacity: 0;
    animation: appear 1.5s linear forwards;
    animation-delay: 6.5s;
    color: #808080;
    font-size: 6vw;
}

/* Header Animations */

.header-words {
    margin: 0;
    padding: 0;
    display: inline;
    grid-column-start: 1;
    grid-row-start: 3;
}

.header-words span {
    margin-left: -1em;
    position: absolute;
    display: inline;
    overflow: hidden;
    color: orange;
    opacity: 0;
    border-right: 3px solid transparent;
    font-size: 7vw;
}

.header-words span:nth-child(1){
    animation: makeVisible 1.5s linear, makeInvisible 1.5s linear .5s, blink-border 0.75s step-end infinite;
    max-width: 3.37em;
}

.header-words span:nth-child(2){
    animation: makeVisible 1.5s linear 2.5s, makeInvisible 1.5s linear 3.25s, blink-border 0.75s step-end infinite;
    max-width: 3.09em;
}

.header-words span:nth-child(3){
    animation: makeVisible 1.5s linear 5.5s forwards, blink-border 0.75s step-end infinite;
    max-width: 3.71em;
} 

@keyframes makeVisible {
    0% {opacity: 1; width: 0}
    35% {opacity: 1; width: 25%}
    65% {opacity: 1; width: 50%}
    85% {opacity: 1; width: 75%}
    100% {opacity: 1; width: 100%}
}

@keyframes makeInvisible {
    0% {opacity: 1; width: 100%}
    20% {opacity: 1; width: 80%}
    40% {opacity: 1; width: 60%}
    60% {opacity: 1; width: 40%}
    80% {opacity: 1; width: 20%}
    100% {opacity: 1; width: 0%}
}

@keyframes appear {
    from{opacity: 0}
    to{opacity:1}
}

@keyframes blink-border {
    from, to {border-color: transparent;}
    50% {border-color: grey;}
}

@media only screen and (max-width: 600px){
    #text-wrap {
        margin-left: 1.5vw;
    }
}

@media only screen and (max-width: 750px){
    .header-words span:nth-child(1){
        animation: makeVisible 1.5s linear, makeInvisible 1.5s linear .5s, blink-border 0.75s step-end infinite;
        max-width: 3.42em;
    }
    
    .header-words span:nth-child(2){
        animation: makeVisible 1.5s linear 2.5s, makeInvisible 1.5s linear 3.25s, blink-border 0.75s step-end infinite;
        max-width: 3.16em;
    }
    
    .header-words span:nth-child(3){
        animation: makeVisible 1.5s linear 5.5s forwards, blink-border 0.75s step-end infinite;
        max-width: 3.72em;
    } 
}