#portfolio {
    display: block;
    margin: 0;
}

#portfolio-contain {
    overflow: hidden;
    position: relative;
}

div.portfolio-container {
    margin: 5%;
    padding: 10px;
    z-index: 2;
    position: relative;
    color: grey;
}

.portfolio-container > h2 {
    margin: 10% auto 10% 1%;
    font-size: 8vw;
    padding: 5px;
    text-align: center;
    background-color: orange;
    color: white;
    width: 60%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 1900px solid transparent;
    border-right: 750px solid transparent;
    border-bottom: 1000px solid transparent;
    border-top: 1000px solid grey;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    margin-top: 0;
}

.shadows {
    -webkit-box-shadow: -11px 8px 50px -12px rgba(0,0,0,0.73); 
    box-shadow: -11px 8px 50px -12px rgba(0,0,0,0.73);
}

/* Portfolio Grid Designs */

.portfolio-txt {
    padding: 3%;
    text-align: center;
    border: 2px solid #e8e8e8;
    background: #f8f8f8;
}

.more {
    margin-bottom: 5%;
    background-color: white;
    color: #808080;
}

.more-contain {
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
}

a.portfolio-links {
    color: #808080;
    font-weight: bold;
}

.portfolio-icons {
    color: orange;
    font-size: 1.25em;
}

.tools-icons  {
    font-size: 1.5em;
}

/* GO Styles for Portfolio section */

.portfolio-column > h3 {
    margin-top: 5%;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 0;
}

/*More Styles???*/

.more-links {
    color: #303030;
}
