.resume-header {
    display: grid;
    grid-template-columns: 25% 40% 35%;
    background: #505050;
}

.initals {
    float: right;
    margin: 5%;
    font-size: 9vw;
    color: white;
    border: 2px solid white;
    padding: 0 15px;
}

.home-link > span.initals:hover {
    color: #42e8f4;
    border: 2px solid #42e8f4;
}

.info, .contact-info {
    color: white;
    margin: 5%;
}

.contact-info > p
{
    text-align: right;
    margin-right: 15%;
}


.icon-links-resume {
    font-size: 1.1em;
    background: none;
    font-weight: normal;
    margin: 1px;
    color: #42e8f4;
}

.icon-links-resume:hover
{
    color: white;
}

.name {
    font-size: 5.5vw;
    color: white;
    line-height: 1.75vw;
    margin-top: 2%;
}

span.contact{
    margin-left: 2%;
    font-size: 1vw;
}

.jumbotron {
    background: #f0f2f4;
    padding-top: 2rem;
}

h2 {
    font-size: 3.5vw;
    font-weight: bold;
    color: #404040;
}

h3 {
    font-size: 3vw;
    margin-left: 3%;
}

h4 {
    font-size: 2.5vw;
    margin-left: 6%;
}

h4 > a {
    font-size: 2.5vw;
    color: #808080;
}

p, .work > ul, .cert > ul  {
    font-size: 1.75vw;
    margin-left: 9%;
}

@media only screen and (max-width: 550px) {

    .resume-header {
        grid-template-columns: 25% 75%;
    }

    .contact-info > p
    {
        display: inline;
        margin: auto;
    }

    .contact-info
    {
        grid-column-start: 1;
        grid-column-end: span col2-start;
        margin: 1%;
        text-align: center;
    }

    .info
    {
        margin-bottom: 0px;
    }

}

@media only screen and (max-width: 700px) {
    span.contact{
        font-size: 1.75vw;
        margin-left: 2%;
    }

    .info {
        line-height: 1.85vw;
    }

    .initals {
        float: right;
        margin: 5%;
        font-size: 9vw;
        color: white;
        border: 2px solid white;
        padding: 0 15px;
    }
    
}

@media only screen and (min-width: 1100px) {
    .container {
        min-width: 85%;
    }

    h2 {
        font-size: 2.25vw;
    }

    h3 {
        font-size: 1.75vw;
    }

    h4, h4 > a {
        font-size: 1.5vw;
    }

    p, .cert > ul, .work > ul {
        font-size: 1vw;
    }
}