body {
    font-family: 'Special Elite';
    background: #eaeaea;
  }
  
  div.container {
    margin-top: 20px;
  }
  
  div.picture {
    min-height: 300px;
    border: 3px solid #eaeaea;
    border-radius: 10px;
  }
  
  .letters{
    font-size: 20em;
    position: absolute;
    left: 20%;
    top: -10%;
    color: #93b7bf;
    opacity: 0.7;
  }
  
  .hidden {
    display: none !important;
  }
  
  #gift {
    background: url("https://images.unsplash.com/photo-1444167827109-712640e22c8e?ixlib=rb-0.3.5&s=dbf6b94ad53a1b3f5476bf12328d1866&auto=format&fit=crop&w=1350&q=80");
  }
  
  #stand {
    background: url("https://images.unsplash.com/photo-1494915156525-fc540ba09a3e?ixlib=rb-0.3.5&s=6b0c3938f8e074751cfb169aaf3058df&auto=format&fit=crop&w=1349&q=80");
  }
  
  #water {
    background: url("https://images.unsplash.com/photo-1510422057627-283737c7d9e3?ixlib=rb-0.3.5&s=edc31fa047aa96a2f79c44cb41114a23&auto=format&fit=crop&w=1934&q=80");
  }
  
  #daisy {
    background: url("https://images.unsplash.com/photo-1509553020482-56d05c85f296?ixlib=rb-0.3.5&s=1afb6775e8c129ae19b40cf1c0085f58&auto=format&fit=crop&w=676&q=80");
  }
  
  #eye {
    background: url("https://images.unsplash.com/photo-1512521743077-a42eeaaa963c?ixlib=rb-0.3.5&s=2fb03a1138a3edbcc71b90a8d4338d1a&auto=format&fit=crop&w=1351&q=80");
  }
  
  #feet {
    background: url("https://images.unsplash.com/4/feet.JPG?ixlib=rb-0.3.5&s=2b85971718e56bd4e0f704f0fc21dd0e&auto=format&fit=crop&w=633&q=80");
    background-size: cover;
  }
  
  #mountain {
    background: url("https://images.unsplash.com/photo-1477468572316-36979010099d?ixlib=rb-0.3.5&s=2b981db0ddd94589fd557e69e44ff8aa&auto=format&fit=crop&w=1489&q=80");
  }
  
  #hand {
    background: url("https://images.unsplash.com/photo-1508787340649-145631a9b715?ixlib=rb-0.3.5&s=fda313bcad7df8f524ac950f75ccf57d&auto=format&fit=crop&w=1350&q=80");
  }
  
  #wheat {
    background: url("https://images.unsplash.com/photo-1436712702142-096ca31693c4?ixlib=rb-0.3.5&s=bee78718cc0324093edad92ec37ab82a&auto=format&fit=crop&w=1947&q=80");
  }
  
  #gift, #eye, #mountain, #hand, #wheat {
    background-size: cover;
    background-position: center;
  }
  
  span.text-info {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 15%;
    top: 15%;
    right: 5%;
    left: 5%;
    color:#eaeaea;
    font-size: 2.2em;
    padding: 5px;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
  }
  
  .overlay {
    position: absolute;
    border-radius: 8px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
  }
  
  iframe {
    width: 115%;
    margin-top: -14.5%;
    margin-left: -8%;
    height: 150%;
    border-radius: 15px;
  }
  
  .overlay.color {
    background: #a7c2c6;
  }
  
  .overlay.greyscale {
    background: #6097a0;
  }
  
  #mountain > .overlay.color, #water > .overlay.color {
    background: #8d999b;
  }
  
  #eye > .overlay.greyscale, #feet > .overlay.greyscale, #gift > .overlay.greyscale {
    background: #93b7bf;
  }
  
  .container-img:hover .overlay {
    opacity: 1;
    
  }
  
  #credits > a:hover, #goBack > a:hover {
    text-decoration: none;
  }
  
  #creditsPage {
    text-align: center;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 25px;
    border-radius: 10px;
  }